<p style="text-align:center">
PSY 341K <b>Python Coding for Psychological Sciences</b>, Fall 2018

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Python logo" width="200">
</p>

<h1 style="text-align:center"> Operations & Variables </h1>

<h4 style="text-align:center"> September 4, 2018 </h4>
<hr style="height:5px;border:none" />
<p>

# 1. Math operators
<hr style="height:1px;border:none" />

In your Python shell, try typing the following.

In [1]:
2 + 2

4

This is a simple example of expression. An expression is an instruction
consisting of numbers (e.g., 2) and mathematical operators (e.g. +). Any space in
an expression is ignored. So you can get the same results by typing:

In [2]:
2 + 2

4

In [3]:
2+2

4

In [4]:
2 +2

4

I usually put a space between a number and an operator, for the sake of
readability later. But thatâ€™s up to your personal preference.
There are other basic mathematical operators as well. The ones you may use
are:

**Addition (`+`):**

In [5]:
2 + 2

4

**Subtraction (`-`):**

In [6]:
55 - 38

17

**Multiplication (`*`):**

In [7]:
2 * 3.14

6.28

**Integer division** (returns the answer in an integer, or a whole number) **(`//`):**

In [8]:
33 // 9

3

**Division (`/`):**

In [9]:
33 / 9

3.6666666666666665

__Exponent (`**`):__

In [10]:
2**3

8

You can use multiple operators in a single expression. If you do so, some
operators will be calculated before others. The order is very similar to a typical
mathematical expression. Here is the order:

  * Parentheses `( )`
  * Exponent (`**`)
  * Division (`/`, `//`) and multiplication (`*`)
  * Addition (`+`) and subtraction (`-`)

Here is an example.

In [11]:
5 * 8 + 3 * 3**3 / 9

49.0

In this expression, `3**3` (=27) is calculated first. So this expression becomes

In [12]:
5 * 8 + 3 * 27 / 9

49.0

In this revised expression, `5*8` is calculated next and the expression becomes

In [13]:
40 + 3 * 27 / 9

49.0

Then `3*27` is calculated next, and so on. You get the idea. If you want to change
the order of mathematical operations, you can use parentheses `( )` to denote
operations to be performed first. For example,

In [14]:
(2 + 3) * 8 + (6 + 4) * 2

60

In this expression, `2+3` (=5) and `6+4` (=10) are calculated first, then the
expression becomes

In [15]:
5 * 8 + 10 * 2

60

Then `5*8` and `10*2` are calculated next. In contrast, without the parentheses,

In [16]:
2 + 3 * 8 + 6 + 4 * 2

40

`3*8` and `4*2` are calculated first.

### Application
Now consider the following scenario. You bought lunch for 3 of your friends and
yourself. Each person had a sandwich (`$`6.50) and a soda (`$`1.50). How much in
total did you pay?

In this scenario, you pay `$`6.50 + `$`1.50 per person. Since there are 4 of you, you
paid

In [17]:
(6.50 + 1.50) * 4

32.0

On the following day, you bought lunch for 2 of your friends and yourself. Each
person had a slice of pizza (`$`3.00) and a bottled water (`$`1.25). How much in
total did you pay for lunch for both days?

In [18]:
(6.50 + 1.50) * 4 + (3.00 + 1.25) * 3

44.75

### Exercise

1. One British pound is equal to US`$`1.30. If you have a 20-pound bill, how much is it in US`$`?
2. The cargo space of a moving truck is 6 ft wide, 12 ft long, and 8 ft tall. How much cargo can you fit it in this truck, in terms of cubic feet?
3. **Temperature conversion, F to C**. A temperature in Fahrenheit (F) can be converted to Celsius (C) by this formula:
$$C = (F â€“ 32) \times 5/9$$
If the temperature outside is 92F, what is the temperature in Celsius?

# 2. String operations
<hr style="height:1px;border:none" />

In addition to numerical data, Python can also handle text data, also known as
strings. A string is a series of characters (including space), and often denoted
with quotation marks (`'` or `"`).

In [19]:
'Hello!'

'Hello!'

If you forget the quotation mark, then you will likely get an error message

In [20]:
Hello

NameError: name 'Hello' is not defined

These are examples of strings:
```python
'a', 'AA', 'Aaaargh!', 'Hello World!', '24', '24 x 7'
```

You can concatenate two strings with `+`. For example,

In [21]:
'Satoru' + 'Hayasaka'

'SatoruHayasaka'

In [22]:
'Maroon' + '5'

'Maroon5'

You can put a space between two strings to make it more readable.

In [23]:
'Satoru' + ' Hayasaka'

'Satoru Hayasaka'

You can also repeat string data with `*`. For example,

In [24]:
'Yum' * 3

'YumYumYum'

In [25]:
'Yuck! ' * 5

'Yuck! Yuck! Yuck! Yuck! Yuck! '

You can use both single quotation marks (`'`) and double quotation marks (`"`) to
denote strings, as long as they match at the beginning and the end. For example,

In [26]:
"O'Reilly Auto Parts"

"O'Reilly Auto Parts"

But

In [27]:
'O'Reilly Auto Parts'

SyntaxError: invalid syntax (<ipython-input-27-33ae93c0f734>, line 1)

Gives you an error.

# 3. Variables
<hr style="height:1px;border:none" />

When you write a program, it is easier to store your numerical and string data to
variables. A variable can be considered as a box where you store your data. For
example,

In [29]:
age = 23

This statement puts 23 into a variable called age. If you type the variable name, then you can see what's in it.

In [30]:
age

23

You can store a string into a variable. For example, in the variable called name,

In [31]:
name = 'Hayasaka'

In [32]:
name

'Hayasaka'

You can use variables in numerical and string operations. For example,

In [33]:
age + 5

28

In [34]:
'My name is ' + name

'My name is Hayasaka'

The value of the variable remains the same, until you replace it with something
else.

In [35]:
age = 35
age

35

In [36]:
age = 5
age

5

In [37]:
age = age + 3
age

8

Similarly,

In [38]:
name = 'Hayasaka'
name

'Hayasaka'

In [39]:
name = 'John Doe'
name

'John Doe'

In [40]:
'My name is ' + name

'My name is John Doe'

A variable is created when you assign a value to that variable using **`=`** (i.e., a single equal sign). You can
name the variable any way you want. But there are certain rules you need to
follow.
  1. Variable names can contain only alphabets, numbers, and underscore (`_`).
  2. Variable names cannot start with a number.
  3. Variable names cannot contain a space
  4. Variable names are case sensitive. For example, **`Name`** and **`name`** are two different variables.
  5. You cannot use certain keywords reserved for Python.

|        |      |       |      |        |
|:--:    |:--:  |:--:   |:--:  |:--:    |
|and     |del   |finally|in    |print   |
|assert  |elif  |for    |is    |raise   |
|break   |else  |from   |lambda|return  |
|class   |except|global |not   |try     |
|continue|exec  |if     |or    |True    |
|def     |False |import |pass  |while   |
|        |      |       |      |yield   |
|        |      |       |      |        |

Here are some guidelines when you name variables.
  1. Be descriptive.
       - If your variable name is **`data1`**, then it is hard to figure out what is stored.
  2. Use lower case with underscores or camel case
       - **`max_response_time`** (lower case with underscore)
       - **`maxResponseTime`** (camel case)
  3. Avoid using "`I`" (upper case i), "`l`" (lower case L), or "`O`" (upper case o) alone.

### Exercise
Which of these variable names are valid?

|          |         |           |                 |
|:--:      |:--:     |:--:       |:--:             |
|two       |old_name |2step      |mystery_number_55|
|height    |@height  |MXDCGR     |SF36_score       |
|SF36-score|US`$`    |`%`increase| myName          |

# 4. Application
<hr style="height:1px;border:none" />

### Temperature Conversion
Now letâ€™s try using what we learned today in a program. Here is a program that
converts a temperature in Fahrenheit to Celsius.

`<F2C.py>`

In [41]:
# input of temperature in Fahrenheit
tempF = int(input('What is the temperature [F]? '))
# the formula for conversion
tempC = (tempF - 32) * 5 / 9
# the output
print('The temperature is ' + str(tempC) + ' Celsius.')

What is the temperature [F]? 92
The temperature is 33.333333333333336 Celsius.

In the program, the lines preceded with **`#`** are omitted by the Python shell. These
lines are used to comment on the program. These comments are good reminders
of what the program is doing, when you re-open the program later.
This program asks the user what the temperature is in Fahrenheit. Then converts
it to Celsius, and prints it out.

Here are things to note in this program:
* Anything you enter with **`input()`** is treated as a string, even if it is a number.
* We use the **`int()`** function, in addition to the `input()` function, to convert a string to a number.
* The variable **`tempC`** is a number. To concatenate this number to a string, you have to use **`str()`** function, which converts a number to a string.

***Side note***: When you print a float (or a non-integer number) in Python, you may see many decimal places, as you can see in the earlier example. For a cleaner output with a small number of decimal places, you can run this **`print`** statement instead.

In [42]:
print('The temperature is %5.1f Celsius' % tempC)

The temperature is  33.3 Celsius

We will cover details on how to format print-outs of numbers later in the semester.

### Burritos
Now letâ€™s try another program. This program asks the user how much money is in
the wallet and how much a burrito is, then calculates how many burritos he or
she can buy.

`<Burrito.py>`

In [43]:
wallet = float(input('How much money do you have?'))
burito = float(input('How much is a burito?'))
numBurito = wallet // burito
print('You can buy ' + str(int(numBurito)) + ' burito')

How much money do you have?28
How much is a burito?7.25
You can buy 3 burito

One thing to note here is that, the price of a burrito is likely a float, not an integer
or a whole number. Also, there may be some change in the wallet, thus the
money in the wallet may not be a whole number. So we need to use the
**`float()`** function to convert the input into a float.

### Exercise
1. **How far can you go**. Write a program to ask the user to enter the amount of money he/she has. Then this program calculates how much fuel can be purchased (at `$`2.49 per gallon) and how far the user can drive with the amount of fuel to be purchased. You can assume that the user's car can travel 25 miles per gallon.
2. **A phrase, repeated**. Write a program to ask the user to enter a phrase (as a string) and an integer between 1 and 9. Then the program prints out a the phrase repeated as many times as the integer input:

    e.g. 
    * If `'Wow!'` and 3 are entered, then `'Wow! Wow! Wow! '` is printed.
    * If `'Blah'` and 5 are entered, then `'Blah Blah Blah Blah Blah '` is printed.