<p style="text-align:center">
PSY 394U <b>Python Coding for Psychological Sciences</b>, Fall 2017

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Python logo" width="200">
</p>

<h1 style="text-align:center"> Dataframes with Pandas </h1>

<h4 style="text-align:center"> November 16 - 21, 2017 </h4>
<hr style="height:5px;border:none" />
<p>

# 0. What is a dataframe?
<hr style="height:1px;border:none" />

Say, you have a data set consisting of scores from the same subjects under 4 different conditions.

`<ExpScoreData.py>`

In [1]:
import numpy as np
import pandas as pd

# experiment data: Scores from
#    control condition:  control
#    condition A:        condA
#    condition B:        condB
#    condition C:        condC
control = np.array([106,  96,  79, 110,  87,  81,  83,  68,  79,  57])
condA = np.array([80, 70, 63, 73, 64, 78, 68, 45, 66, 56])
condB = np.array([ 78,  97, 120,  92,  84, 116,  81,  81, 104,  82])
condC = np.array([ 75,  49,  58, 115,  97,  95,  93,  66,  84,  67])

You can treat them as 4 separate arrays. Or, you can treat them as a part of a one big data set, known as a **dataframe**. To do so, you need to use the **`Pandas`** library (imported as **`pd`** for short).

In [2]:
# concatenating the variables
allData = np.vstack([control,condA,condB,condC]).T

# creating a dataframe
expScores = pd.DataFrame(allData, columns=['control','condA','condB','condC'])

In [3]:
expScores

   control  condA  condB  condC
0      106     80     78     75
1       96     70     97     49
2       79     63    120     58
3      110     73     92    115
4       87     64     84     97
5       81     78    116     95
6       83     68     81     93
7       68     45     81     66
8       79     66    104     84
9       57     56     82     67

Notice that, in a dataframe, each row consists of an observation with multiple values. Each column is a variable. If you are dealing with a large number of variables originating from the same individuals, it makes sense to handle that data set as a dataframe, as opposed to dealing with a number of separate arrays or lists.

# 1. How to create a dataframe
<hr style="height:1px;border:none" />

You can create a dataframe from a 2D array, as presented earlier. Or, you can create an empty dataframe and add one column at a time.

`<FirstDataFrame.py>`

In [4]:
expData = pd.DataFrame()
expData['control'] = control
expData['condA'] = condA
expData['condB'] = condB
expData['condC'] = condC

In [5]:
expData

   control  condA  condB  condC
0      106     80     78     75
1       96     70     97     49
2       79     63    120     58
3      110     73     92    115
4       87     64     84     97
5       81     78    116     95
6       83     68     81     93
7       68     45     81     66
8       79     66    104     84
9       57     56     82     67

### Exercise
1. **Creating a data frame**. The program **`DataFrameExercise.py`** on **GitHub** generates 3 arrays corresponding to height (`height`), weight (`weight`), and percent body fat (`percentBodyFat`) of 252 men. From these arrays, create a dataframe with these variables as columns.

# 2. Useful methods to examine a dataframe
<hr style="height:1px;border:none" />

There are some useful methods associated with a dataframe. You can examine the first few observations in a dataframe with **`head()`** method.

In [6]:
expData.head()

   control  condA  condB  condC
0      106     80     78     75
1       96     70     97     49
2       79     63    120     58
3      110     73     92    115
4       87     64     84     97

Similarly, you can examine the last few observations with **`tail()`** method.

In [7]:
expData.tail()

   control  condA  condB  condC
5       81     78    116     95
6       83     68     81     93
7       68     45     81     66
8       79     66    104     84
9       57     56     82     67

To get names of the columns, you can use **`columns()`** method.

In [8]:
expData.columns

Index(['control', 'condA', 'condB', 'condC'], dtype='object')

You can get some basic descriptive statistics for each column by using **`describe()`** method.

In [9]:
expData.describe()

          control      condA       condB       condC
count   10.000000  10.000000   10.000000   10.000000
mean    84.600000  66.300000   93.500000   79.900000
std     16.174053  10.339246   15.306135   20.436623
min     57.000000  45.000000   78.000000   49.000000
25%     79.000000  63.250000   81.250000   66.250000
50%     82.000000  67.000000   88.000000   79.500000
75%     93.750000  72.250000  102.250000   94.500000
max    110.000000  80.000000  120.000000  115.000000

You can sort the entire dataframe based on a variable using **`sort_values()`** method. For example, we can sort the data with the scores from variable `control` in ascending order.

In [10]:
expData.sort_values(by='control')

   control  condA  condB  condC
9       57     56     82     67
7       68     45     81     66
2       79     63    120     58
8       79     66    104     84
5       81     78    116     95
6       83     68     81     93
4       87     64     84     97
1       96     70     97     49
0      106     80     78     75
3      110     73     92    115

The variable `control` is sorted in the *ascending order* by default. You can sort in the *descending order* by specifying parameter **`ascending=False`**.

In [11]:
expData.sort_values(by='control', ascending=False)

   control  condA  condB  condC
3      110     73     92    115
0      106     80     78     75
1       96     70     97     49
4       87     64     84     97
6       83     68     81     93
5       81     78    116     95
2       79     63    120     58
8       79     66    104     84
7       68     45     81     66
9       57     56     82     67

This method does not alter the dataframe, so you need to do specify parameter **`inplace=True`**.

In [12]:
expData.sort_values(by='control', ascending=False, inplace=True)
expData

   control  condA  condB  condC
3      110     73     92    115
0      106     80     78     75
1       96     70     97     49
4       87     64     84     97
6       83     68     81     93
5       81     78    116     95
2       79     63    120     58
8       79     66    104     84
7       68     45     81     66
9       57     56     82     67

Notice that the dataframe has been updated.

You can remove a column by **`drop()`** method. For example, to delete the variable **`condB`**, you can do

In [13]:
expData.drop('condB', axis=1)

   control  condA  condC
3      110     73    115
0      106     80     75
1       96     70     49
4       87     64     97
6       83     68     93
5       81     78     95
2       79     63     58
8       79     66     84
7       68     45     66
9       57     56     67

Here, **`axis=1`** indicates that we are deleting a column **`condB`**, and **`inplace=True`** specifies that we are making a change to the dataframe (omitted in this case).


### Exercise
1. **Summary statistics**. From the dataframe you created earlier, calculate summary statistics for each variable.
2. **Rank, height**. Add a new variable called **`rankHeight`** to the dataframe, describing the the rank of `height` (from the tallest to the smallest). 
3. **Rank, weight**. Add a new variable called **`rankWeight`** to the dataframe, describing the rank of `weight` (from the largest to the smallest).

# 3. Indexing and slicing a dataframe
<hr style="height:1px;border:none" />

In a dataframe, you can access individual column (or variable) by

In [14]:
expData['condA']

3    73
0    80
1    70
4    64
6    68
5    78
2    63
8    66
7    45
9    56
Name: condA, dtype: int64

Or,

In [15]:
expData.condA

3    73
0    80
1    70
4    64
6    68
5    78
2    63
8    66
7    45
9    56
Name: condA, dtype: int64

You can slice rows in a dataframe very easily. For example,

In [16]:
expData[5:8]

   control  condA  condB  condC
5       81     78    116     95
2       79     63    120     58
8       79     66    104     84

You can slice rows with only a few selected variables only, using **`loc`** method.

In [17]:
expData.loc[5:8,['condA','condB']]

   condA  condB
5     78    116
2     63    120
8     66    104

Or, if you know the row and column indices, then you can use **`iloc`** method.

In [18]:
expData.iloc[5:8,1:3]

   condA  condB
5     78    116
2     63    120
8     66    104

And you can use the data itself to select a subset of data, like in arrays. For example,

In [19]:
expData[expData.control>100]

   control  condA  condB  condC
3      110     73     92    115
0      106     80     78     75

In [20]:
expData[expData.condA<expData.condC]

   control  condA  condB  condC
3      110     73     92    115
4       87     64     84     97
6       83     68     81     93
5       81     78    116     95
8       79     66    104     84
7       68     45     81     66
9       57     56     82     67

To combine multiple conditions, you need to place each condition inside parentheses, and use **`&`** for **`and`** and **`|`** for **`or`**.

In [21]:
# control>100, OR, condA>100
expData[(expData.control>100) | (expData.condA>100)]

   control  condA  condB  condC
3      110     73     92    115
0      106     80     78     75

In [22]:
# control<80, AND, condA<80
expData[(expData.control<80) & (expData.condA<80)]

   control  condA  condB  condC
2       79     63    120     58
8       79     66    104     84
7       68     45     81     66
9       57     56     82     67

### Exercise
**Sub data sets**. You are interested in the following subsets of the dataframe you generated earlier. Write expressions to select these observations.
1. Those who weighs 150 pounds or less
2. Those who are taller than 6 feet
3. Those who weighs more than 250 pounds and percent body fat is greater than 35%

# 4. Saving to and loading from a CSV file
<hr style="height:1px;border:none" />

You can save a dataframe to a CSV file very easily using **`to_csv`** method.

In [23]:
expData.to_csv('ExpData_sorted.csv')

This creates a CSV file called **`ExpData_sorted.csv`** in your current working directory.
```
,control,condA,condB,condC
3,110,73,92,115
0,106,80,78,75
1,96,70,97,49
4,87,64,84,97
6,83,68,81,93
5,81,78,116,95
2,79,63,120,58
8,79,66,104,84
7,68,45,81,66
9,57,56,82,67
```

Reading a CSV file is also simple. You can use **`pd.read_csv`** function.

In [24]:
fileData = pd.read_csv('ExpData_sorted.csv')
fileData

   Unnamed: 0  control  condA  condB  condC
0           3      110     73     92    115
1           0      106     80     78     75
2           1       96     70     97     49
3           4       87     64     84     97
4           6       83     68     81     93
5           5       81     78    116     95
6           2       79     63    120     58
7           8       79     66    104     84
8           7       68     45     81     66
9           9       57     56     82     67

Unfortunately it created a column called **`Unnamed: 0`**, with the original data index (before the data was sorted), in addition to the new index in the first column. You can use the original index by specifying the parameter index_col.

In [25]:
fileData = pd.read_csv('ExpData_sorted.csv', index_col=0)
fileData

   control  condA  condB  condC
3      110     73     92    115
0      106     80     78     75
1       96     70     97     49
4       87     64     84     97
6       83     68     81     93
5       81     78    116     95
2       79     63    120     58
8       79     66    104     84
7       68     45     81     66
9       57     56     82     67

Or, if you want to keep the new index and remove the old index, then you can remove the column by **`drop()`** method.

In [27]:
fileData = pd.read_csv('ExpData_sorted.csv')
fileData.drop('Unnamed: 0', axis=1, inplace=True)
fileData

   control  condA  condB  condC
0      110     73     92    115
1      106     80     78     75
2       96     70     97     49
3       87     64     84     97
4       83     68     81     93
5       81     78    116     95
6       79     63    120     58
7       79     66    104     84
8       68     45     81     66
9       57     56     82     67

### Exercise
1. **Saving to a CSV file**. Save the dataframe you created earlier (height, weight, percent body fat, as well as the ranks for height and weight) into a CSV file.
2. **Reading from a CSV file**. On **GitHub**, there is a data file called **`BodyFat.csv`**. Read in this file as a dataframe, using the first column as the index.
3. **Removing a column**. The dataframe from Exercise 2 above contains a column with no actual data. Remove that column from the dataframe.

# 5. Updating data
<hr style="height:1px;border:none" />

Let’s go back to the experiment score data, now stored in **`ExpData.csv`**, available on **GitHub**.

`<LoadExpData.py>`

In [30]:
import numpy as np
import pandas as pd

expData = pd.read_csv('ExpData.csv', index_col=0)

Now, we want to see scores for the control condition above 100. To do so, you can do two different approaches.

In [31]:
expData[expData.control>100].control

0    106
3    110
Name: control, dtype: int64

In [32]:
expData.loc[expData.control>100, 'control']

0    106
3    110
Name: control, dtype: int64

Now, let's say we want to substitute these scores >100 with 100. You may try

In [33]:
expData[expData.control>100].control = 100

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

And the dataframe wasn't updated.

In [34]:
expData

   control  condA  condB  condC
0      106     80     78     75
1       96     70     97     49
2       79     63    120     58
3      110     73     92    115
4       87     64     84     97
5       81     78    116     95
6       83     68     81     93
7       68     45     81     66
8       79     66    104     84
9       57     56     82     67

This time, let's try

In [35]:
expData.loc[expData.control>100, 'control'] =100
expData

   control  condA  condB  condC
0      100     80     78     75
1       96     70     97     49
2       79     63    120     58
3      100     73     92    115
4       87     64     84     97
5       81     78    116     95
6       83     68     81     93
7       68     45     81     66
8       79     66    104     84
9       57     56     82     67

You see that the dataframe has been successfully updated. To view data with a certain condition, you can use both methods of indexing we saw above. However, you need to use **`loc`** or **`iloc`** to update particular values in a dataframe.

If you want to replace scores above 100 with 100 for condition B, you can do

In [36]:
expData.loc[expData.condB>100, 'condB'] =100
expData

   control  condA  condB  condC
0      100     80     78     75
1       96     70     97     49
2       79     63    100     58
3      100     73     92    115
4       87     64     84     97
5       81     78    100     95
6       83     68     81     93
7       68     45     81     66
8       79     66    100     84
9       57     56     82     67

### Exercise
1. **Correcting a typo**. On the dataset **`BodyFat.csv`**, available on **GitHub**, there is one observation whose height is 29.5 in. We know that this is a typo, and the actual height is 69.5 in. Update this observation with the correct height, and save the dataframe as **`BodyFatCorrected.csv`**.

# 6. Concatenating and merging dataframes
<hr style="height:1px;border:none" />

## Concatenating dataframes

Say, you have two dataframes containing same variables. You can find them in **`ExpData1.csv`** and **`ExpData2.csv`** available on **GitHub**.

`<ConcatExample.py>`

In [38]:
# %load ../Codes/pandasExamples/ConcatExample.py
import numpy as np
import pandas as pd

# Two separate dataframes
expData1 = pd.read_csv('ExpData1.csv')
expData1.drop('Unnamed: 0', axis=1, inplace=True)
expData2 = pd.read_csv('ExpData2.csv')
expData2.drop('Unnamed: 0', axis=1, inplace=True)

# concatenating the two
expDataConcat = pd.concat([expData1, expData2], ignore_index=True)
expDataAppend = expData1.append(expData2, ignore_index=True)

You can verify them.

In [39]:
expData1

   control  condA  condB  condC
0      106     80     78     75
1       96     70     97     49
2       79     63    120     58
3      110     73     92    115
4       87     64     84     97

In [40]:
expData2

   control  condA  condB  condC
0       81     78    116     95
1       83     68     81     93
2       68     45     81     66
3       79     66    104     84
4       57     56     82     67

Then you can concatenate them easily in two different ways. The first way involves **`pd.concat`** function to append two data frames.

In [41]:
expDataConcat = pd.concat([expData1, expData2], ignore_index=True)
expDataConcat

   control  condA  condB  condC
0      106     80     78     75
1       96     70     97     49
2       79     63    120     58
3      110     73     92    115
4       87     64     84     97
5       81     78    116     95
6       83     68     81     93
7       68     45     81     66
8       79     66    104     84
9       57     56     82     67

The second approach is to append the second dataframe to the first dataframe with **`append()`** method.

In [42]:
expDataAppend = expData1.append(expData2, ignore_index=True)
expDataAppend

   control  condA  condB  condC
0      106     80     78     75
1       96     70     97     49
2       79     63    120     58
3      110     73     92    115
4       87     64     84     97
5       81     78    116     95
6       83     68     81     93
7       68     45     81     66
8       79     66    104     84
9       57     56     82     67

In both approaches, the parameter **`ignore_index=True`** is specified, so that *concatenated observations are indexed sequentially*.

### Exercise
1.	Try the two concatenation methods above without the parameter **`ignore_index=True`**. Can you tell what happens?

## Adding a new observation

To the dataframe **`expData`**, we want to add a new observation, consisting of 4 scores under 4 different conditions.

`<NewObsExample.py>`

In [46]:
# a new observation to be added
newObs = [55, 88, 86, 70]
expData.loc[len(expData)] = newObs

The dataframe now includes 11 observations.

In [47]:
expData

    control  condA  condB  condC
0       106     80     78     75
1        96     70     97     49
2        79     63    120     58
3       110     73     92    115
4        87     64     84     97
5        81     78    116     95
6        83     68     81     93
7        68     45     81     66
8        79     66    104     84
9        57     56     82     67
10       55     88     86     70
11       55     88     86     70

### Exercise
1. **Four more observations**. To the dataframe **`expData`**, you want to add 4 additional observations, represented in a 2D array
```python
newRows = np.array([
       [56, 55, 55, 75],
       [67, 77, 63, 66],
       [93, 61, 79, 58],
       [84, 88, 73, 71]])
```
How do you do this?

## Merging two dataframes

You may encounter a scenario where you want to merge two dataframes, each containing a different set of variables, except the subject ID. You want to merge these dataframes so that the observations with the same ID are merged together. Say, you load two dataframes from files **`ExpDataControl.csv`** and **`ExpDataABC.csv`** (available on **GitHub**).

`<MergeExample.py>`

In [50]:
import numpy as np
import pandas as pd

# reading two dataframes
expDataControl = pd.read_csv('ExpDataControl.csv',index_col=0)
expDataABC = pd.read_csv('ExpDataABC.csv',index_col=0)

You can verify their contents.

In [51]:
expDataControl

   ID  control
0   4      110
1   1      106
2   2       96
3   5       87
4   7       83
5   6       81
6   3       79
7   9       79
8   8       68
9  10       57

In [52]:
expDataABC

   ID  condA  condB  condC
0   1     80     78     75
1   6     78    116     95
2   4     73     92    115
3   2     70     97     49
4   7     68     81     93
5   9     66    104     84
6   5     64     84     97
7   3     63    120     58
8  10     56     82     67
9   8     45     81     66

These dataframes contain different variables. However, there is a variable called ID, indicating which observations belong to which subjects. You can use this information and match observations between two different dataframes with **`pd.merge`** function.

In [57]:
expData = pd.merge(expDataControl, expDataABC, on='ID')
expData

   ID  control  condA  condB  condC
0   4      110     73     92    115
1   1      106     80     78     75
2   2       96     70     97     49
3   5       87     64     84     97
4   7       83     68     81     93
5   6       81     78    116     95
6   3       79     63    120     58
7   9       79     66    104     84
8   8       68     45     81     66
9  10       57     56     82     67

In some cases, two dataframes may not have the same observations. In that case, there are two different approaches. To demonstrate, let's load a dataframe from file **`ExpDataDE.csv`** (available on **GitHub**).

In [58]:
# reading another dataframe
expDataDE = pd.read_csv('ExpDataDE.csv',index_col=0)

In the first approach for merging, you can only keep *complete observations* (i.e., all variables have values).

In [59]:
pd.merge(expData, expDataDE, on='ID')

   ID  control  condA  condB  condC  condD  condE
0   4      110     73     92    115     92     86
1   1      106     80     78     75     89     82
2   2       96     70     97     49     59     58
3   5       87     64     84     97     91     69
4   7       83     68     81     93     90     71
5   6       81     78    116     95     64     82
6  10       57     56     82     67     71     82

In the second apprach, you want to keep *all observations*. In that case, you need to specify the parameter **`how='outer'`**. If some values are missing, then **`NaN`**s (missing values) are used.

In [60]:
pd.merge(expData, expDataDE, on='ID', how='outer')

   ID  control  condA  condB  condC  condD  condE
0   4      110     73     92    115   92.0   86.0
1   1      106     80     78     75   89.0   82.0
2   2       96     70     97     49   59.0   58.0
3   5       87     64     84     97   91.0   69.0
4   7       83     68     81     93   90.0   71.0
5   6       81     78    116     95   64.0   82.0
6   3       79     63    120     58    NaN    NaN
7   9       79     66    104     84    NaN    NaN
8   8       68     45     81     66    NaN    NaN
9  10       57     56     82     67   71.0   82.0

### Exercise
**Merging dataframes**. Recall the dataframe you created earlier, **`BodyFatCorrected.csv`**. To this data frame you want to merge:
1. A dataframe **`HeightM.csv`**, matching the variable **`IDNO`**.
2. A dataframe **`WeightKG.csv`**, matching the variable **`IDNO`**.

# 7. Simple statistics
<hr style="height:1px;border:none" />

We have already seen describe method to generate basic stats on a dataframe. You can get individual summary statistics as well, using different methods.

`<SimpleStats.py>`

In [62]:
import numpy as np
import pandas as pd

expData = pd.read_csv('ExpData.csv',index_col=0)

# simple descriptive stats
expData.mean()
expData.std()
expData.median()

control    82.0
condA      67.0
condB      88.0
condC      79.5
dtype: float64

In [63]:
# correlation
expData.corr()

          control     condA     condB     condC
control  1.000000  0.739644 -0.043087  0.365258
condA    0.739644  1.000000  0.244684  0.375087
condB   -0.043087  0.244684  1.000000 -0.101767
condC    0.365258  0.375087 -0.101767  1.000000

In [64]:
# ranking
expData.rank()
expData.control.rank()

0     9.0
1     8.0
2     3.5
3    10.0
4     7.0
5     5.0
6     6.0
7     2.0
8     3.5
9     1.0
Name: control, dtype: float64

# 8. Grouping observations by `groupby`
<hr style="height:1px;border:none" />

The file **`co-est2016-alldata.csv`**, available on **GitHub**, contains the estimated population of the past 5 years of all counties in 50 states and the District of Columbia.

`<GroupByExample.py>`

In [66]:
import numpy as np
import pandas as pd

# loading the county-level census data
ctyData = pd.read_csv('co-est2016-alldata.csv',
                      encoding = 'iso-8859-1')

There are 116 variables in total from 3193 counties. Say, you want to summarize the data at the state level, not at the county level. Then you can group the observations by states using the **`groupby`** method.

In [68]:
# grouping the data by states
stateData = ctyData.groupby('STNAME')

The variable **`STNAME`** corresponds to different state names. In the newly created dataframe stateData, observations are grouped by states. For a starter, we can see the number of observations (i.e., counties) in each state by using the **`size()`** method.

In [ ]:
stateData.size()

You can also calculate various statistics by using different methods. For example,

In [ ]:
stateData.mean()

However, as you notice, the mean is calculated for all the variables (except **`STNAME`** and string variables). So let's focus on the population from the 2010 census (**`CENSUS2010POP`**).

In [72]:
stateData.sum().CENSUS2010POP

STNAME
Alabama                  9559472
Alaska                   1420462
Arizona                 12784034
Arkansas                 5831836
California              74507912
Colorado                10058392
Connecticut              7148194
Delaware                 1795868
District of Columbia     1203446
Florida                 37602620
Georgia                 19375306
Hawaii                   2720602
Idaho                    3135164
Illinois                25661264
Indiana                 12967604
Iowa                     6092710
Kansas                   5706236
Kentucky                 8678734
Louisiana                9066744
Maine                    2656722
Maryland                11547104
Massachusetts           13095258
Michigan                19767280
Minnesota               10607850
Mississippi              5934594
Missouri                11977854
Montana                  1978830
Nebraska                 3652682
Nevada                   5401102
New Hampshire            2632940
New Jersey              17583788
New Mexico               4118358
New York                38756204
North Carolina          19070966
North Dakota             1345182
Ohio                    23073008
Oklahoma                 7502702
Oregon                   7662148
Pennsylvania            25404758
Rhode Island             2105134
South Carolina           9250728
South Dakota             1628360
Tennessee               12692210
Texas                   50291122
Utah                     5527770
Vermont                  1251482
Virginia                15995826
Washington              13449080
West Virginia            3705988
Wisconsin               11373972
Wyoming                  1127252
Name: CENSUS2010POP, dtype: int64

This shows the population by states. You can use various methods to sort the states by their populations and list top 10. For example,

In [73]:
stateData.sum().sort_values(by='CENSUS2010POP',
                            ascending=False).CENSUS2010POP.head(10)

STNAME
California        74507912
Texas             50291122
New York          38756204
Florida           37602620
Illinois          25661264
Pennsylvania      25404758
Ohio              23073008
Michigan          19767280
Georgia           19375306
North Carolina    19070966
Name: CENSUS2010POP, dtype: int64

Here, we are using a series of methods to extract this information. We use the **`sum`** method, then the **`sort_values`** method, then selecting the variable **`CENSUS2010POP`**, and finally listing only the top 10 by the **`head`** method. This example shows how we can use multiple methods (in a particular order) to extract information that we want.

## Grouping by multiple variables

You can use multiple variables in the **`groupby`** method. In the census data, there is a variable called **`DIVISION`**, a geographical division of the states by the Census Bureau. Namely,
```
1 = New England
2 = Middle Atlantic
3 = East North Central
4 = West North Central
5 = South Atlantic
6 = East South Central
7 = West South Central
8 = Mountain
9 = Pacific
```
Now you can group the data by `DIVISION` and `STNAME`.

In [74]:
# grouping by the divisions and states
divStateData = ctyData.groupby(['DIVISION','STNAME'])

This produces a grouping with two variables, the division first, then the state.

In [75]:
divStateData.size()

DIVISION  STNAME
1         Connecticut               9
          Maine                    17
          Massachusetts            15
          New Hampshire            11
          Rhode Island              6
          Vermont                  15
2         New Jersey               22
          New York                 63
          Pennsylvania             68
3         Illinois                103
          Indiana                  93
          Michigan                 84
          Ohio                     89
          Wisconsin                73
4         Iowa                    100
          Kansas                  106
          Minnesota                88
          Missouri                116
          Nebraska                 94
          North Dakota             54
          South Dakota             67
5         Delaware                  4
          District of Columbia      2
          Florida                  68
          Georgia                 160
          Maryland                 25
          North Carolina          101
          South Carolina           47
          Virginia                134
          West Virginia            56
6         Alabama                  68
          Kentucky                121
          Mississippi              83
          Tennessee                96
7         Arkansas                 76
          Louisiana                65
          Oklahoma                 78
          Texas                   255
8         Arizona                  16
          Colorado                 65
          Idaho                    45
          Montana                  57
          Nevada                   18
          New Mexico               34
          Utah                     30
          Wyoming                  24
9         Alaska                   30
          California               59
          Hawaii                    6
          Oregon                   37
          Washington               40
dtype: int64

### Exercise
1. **Total population by divisions**. Calculate the total population for each division.
2. **Population change by divisions and states**. The variable **`NPOPCHG2016`** describes the estimated population change between July 2015 and July 2016. Calculate the total population change in each state and tabulate the results by divisions (i.e., group by divisions and states).